.value {
    font-size: 2.25rem;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.btnPrimary {
    border-color: #2f78ff;
    color: #fff;
    background: #2f78ff;
}
.btnGhost {
    background: #fff;
}
.btnDanger {
    background: #fff;
    color: #e75151;
    border-color: #f0cccc;
}
